# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
env/
.venv/

# Backup folders
Backups/

# Rust build artifacts
target/
*.so

# OS junk
.DS_Store
Thumbs.db

# PySide6 cache
*.qmlc
*.jsc

# ChaosMagnet scratch
ChaosMagnet/__pycache__/
ChaosMagnet/venv/
ChaosMagnet/*.log
